Algoritmos das Questões/questao2/quest
Algoritmos das Questões/questao2/quest
Algoritmos das Questões/questao3/quest
Algoritmos das Questões/questao4/basc
Algoritmos das Questões/questao4/basc
Algoritmos das Questões/questao5/q
Algoritmos das Questões/questao5/quest
Algoritmos das Questões/questao6/quest
Algoritmos das Questões/questoes_19_08_2019/q
Algoritmos das Questões/questoes_19_08_2019/quest2/c
Algoritmos das Questões/questoes_19_08_2019/quest2/diagrama.txt
Algoritmos das Questões/questoes_19_08_2019/quest2/dist
Algoritmos das Questões/questoes_19_08_2019/quest2/g
